body {
    font-family: Arial, sans-serif;
    background-color: #F7F9FC;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.back-btn {
    background-color: transparent;
    border: none;
    color: #012E57;
    font-size: 18px;
    cursor: pointer;
}

.profile-icon img {
    width: 40px;
    height: 40px;
}

.profile-section {
    text-align: left;
    padding: 10px 0;
}

.profile-section h1 {
    margin: 0;
    font-size: 24px;
    color: #2C2B2B;
}

.profile-section .patient-id {
    color: #7D7D7D;
    font-size: 14px;
    margin-top: 5px;
}

.goal-section {
    background-color: #012E57;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    width: 250px; 
}

.goal-progress {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.semi-circle {
    width: 100px;
    height: 50px;
    background-color: #CCCCCC;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.progress-bar {
    width: 100px;
    height: 50px;
    background: conic-gradient(
        #D9DD00 0% 40%, 
        #AEACAC 40% 100% 
    );
    border-radius: 100px 100px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0 0 50% 0);
}

.progress-text {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.goal-text {
    margin-top: 10px;
    font-size: 16px;
}

.goal-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.goal-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.emg-indicator {
    width: 20px;
    height: 20px;
    background-color: #37DD00; 
    border-radius: 50%;
}

.rom-indicator {
    width: 20px;
    height: 20px;
    background-color: #FF0000;
    border-radius: 50%;
}


.contact-info {
    background-color: #EAEACA;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
    color: #000000;
}

.contact-info i {
    margin-left: 8px;
    color: #012E57;
}

.medical-history {
    padding: 10px;
    border-top: 1px solid #7D7D7D;
}

.medical-history p {
    margin: 5px 0;
    color: #000000;
    font-weight: bold;
}
